POSTGRES_DB=m5_scanner
POSTGRES_USER=m5_scanner
POSTGRES_PASSWORD=replace-with-a-strong-password

AUTOMATIC_SCAN_MIN_RATING=0
AUTOMATIC_SCAN_MAX_RESULTS=1000
AUTOMATIC_SCAN_TURNOVER_MIN=2000000
SCAN_INTERVAL_MINUTES=15
SCHEDULE_OFFSET_MINUTE_UTC=2
SETUP_DEDUP_MINUTES=60
OUTCOME_WINDOW_MINUTES=60
